.login-panel,
.user-panel {
	max-width: 400px;
	margin: 100px auto;
}

.user-list-panel {
	max-width: 900px;
	margin: 100px auto;
}

.navbar {
	min-height: 30px;
	padding: 0 8px;
}

.navbar-brand,
.navbar-text {
	padding: 0;
	margin: 0;
	line-height: 30px;
}

.issue-tracker-app {
	overflow: hidden;
}

.issue-tracker {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 64px;
}

.main-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 64px;
	background: #fff;
	border-right: 1px solid #ccc;
	text-align: center;
}

.main-nav .dropdown-menu {
	text-align: left; 
}

.main-nav .profile {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px;
	cursor: pointer;
}

.main-nav .profile .gravatar {
	width: 48px;
	height: 48px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.main-nav .profile .user-name {
	width: 48px; 
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-nav .profile:hover .user-name {
	text-decoration: underline;
}

.main-nav .glyph {
	display: block;
	width: 48px;
	height: 48px;
	margin: 8px auto;
	border: 1px solid #428bca;
	border-radius: 4px;
	line-height: 48px;
	overflow: hidden;
}

.main-nav .glyph:hover {
	color: #2a6496;
	border-color: #2a6496;
}

#label-panel {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	border-right: 1px solid #ccc;
}

#list-panel {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
}

#detail-panel {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: -64px;
	background-color: rgba(0, 0, 0, 0.0);
	transition: background-color 300ms;
	pointer-events: none;
}

#detail-panel > div {
	position: absolute;
	top: 0;
	right: -60%;
	bottom: 0;
	min-width: 60%;
	overflow: auto;
	background: white;
	border-left: 1px solid #ccc;
	padding: 8px;
	transition: right 300ms;
}

#detail-panel.visible {
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0.6);
}

#detail-panel.visible > div {
	right: 0;
}

/* nav-list
 * issue-list, label-list, and most other item lists are nav-lists and share the
 * same layout.
 */

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-list > li {
	position: relative;
	border-bottom: 1px solid #ccc;
}

.nav-list > li > a {
	display: block;
	padding: 8px;
}

#label-panel .label-list .swatch {
	position: absolute;
	right: 0;
	bottom: 0;
}

.swatch {
	display: inline-block;
	width: 12px;
	height: 12px;
	line-height: 10px;
	background-color: #ccc;
	cursor: pointer;
}

.swatch .caret {
	display: none;
}

.swatch:hover .caret {
	display: inline-block;
}

.navbar .user-name{
	text-decoration: underline;
	cursor: pointer;
}

.list-controls {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

.list-controls .btn {
	border: none;
	color: #428bca;
	border-radius: 0;
	padding: 8px;
}

.list-controls .btn:hover,
.list-controls .btn:focus {
	border: none;
	color: #2a6496;
}

.select-issues-button .glyphicon:before {
	content: "\e157";
}

.select-issues-button.deselect-all .glyphicon:before {
	content: "\e067";
}

.issue-list {
	padding: 0;
}

.issue-list .issue-completed {
	text-decoration: line-through;
}

.issue-list .issue-missed-deadline a {
	color: red;
}

.issue-list .issue-visibility:before {
	content: "\e105";
	color: #ccc;
}

.issue-list .issue-is-private .issue-visibility:before {
	content: "\e106";
}

.issue-list .unread {
	border-left: 5px solid #428bca;
}

.issue-list input[type=checkbox] {
	float: left;
	margin: 12px 8px 8px 8px;
}

.issue-list .issue-labels {
	position: absolute;
	bottom: 0;
	right: 0;
	bottom: -1px;
}

.issue-labels span {
	display: inline-block;
	margin: 0 0 0 1px;
	padding: 0 4px;
	font-size: 0.8em;
	background-color: #ccc;
	color: #000;
}

.user-not-logged-in .requires-login {
	display: none;
}

.issue-completed header h3:before {
	content: '✔ ';
	color: green;
}

.issue-completed .close-issue-button {
	display: none;
}

.reopen-issue-button {
	display: none;	
}

.issue-completed .reopen-issue-button {
	display: inline-block;
}

.issue.issue-is-accepted .accept-issue-button {
	display: none;
}

.issue .edit-issue,
.issue .finish-editing-issue-button,
.issue.editable .read-issue,
.issue.editable .edit-issue-button,
.issue.editable .comments form {
	display: none;
}

.issue.editable .edit-issue,
.issue.editable .finish-editing-issue-button {
	display: block;
}

.issue .edit-issue .issue-title {
	width: 100%;
	font-size: 17.5px;
	font-weight: 500;
}

.issue .edit-issue .issue-description {
	width: 100%;
	margin: 8px 0;
	padding: 8px;
	min-height: 150px;
}

.issue .loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(255,255,255,0.9);
	display: none;
}

.issue .loading-overlay p {
	width: 100%;
	height: 100%;
}

.issue.loading .loading-overlay {
	display: block;
}

.issue .issue-controls {
	margin-bottom: 8px;
}

.issue header {
	background: #ccc;
	padding: 8px;
	position: relative;
}

.issue header .issue-labels {
	position: absolute;
	bottom: 0;
	right: 0;
}

.issue aside {
	background: #eee;
	padding: 8px;
	position: relative;
	font-size: 11px;
	border-bottom: 1px solid #ccc;
}

.issue aside span {
	margin-right: 16px;
}

.issue .issue-description {
	margin: 12px 8px;
}

/* Label selector */

.label-selector {
	min-width: 140px;
	max-width: 400px;
}

.label-selector .popover-content {
	padding: 32px 0 0 0;
	overflow: hidden;
}

.label-selector .label-filter {
	outline: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 4px;
	margin: 4px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.label-selector .label-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.label-selector .label-list li {
	display: none;
}

.label-selector .label-list li.visible {
	display: list-item;
}

.label-selector .label-list label {
	padding: 0 5px;
	line-height: 32px;
	margin: 0;
	width: 100%;
	font-weight: normal;
	cursor: pointer;
}

.label-selector .label-list li {
	border-top: 1px solid #ccc;
}

/* Label context menu */
.label-context-menu .label-colour {
	width: 120px;
	height: 36px;
	overflow: hidden;
	margin: 4px 0 0 8px;
}

.label-context-menu .label-colour input {
	display: none;
}

.label-context-menu .label-colour label {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin: 0 6px 6px 0;
	text-indent: 24px;
	overflow: hidden;
	border-radius: 2px;
	cursor: pointer;
}

.label-context-menu .label-colour label:hover {
	border: 1px solid #555;
}

.label-context-menu .label-colour input[type="radio"]:checked + label {
	border: 1px solid black;
}

.popover .menu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px -14px -8px -14px;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
}

.popover .menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.popover .menu > li > a:hover,
.popover .menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
}

.popover .menu > .active > a,
.popover .menu > .active > a:hover,
.popover .menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

.popover .menu > .disabled > a,
.popover .menu > .disabled > a:hover,
.popover .menu > .disabled > a:focus {
  color: #999999;
}

.popover .menu > .disabled > a:hover,
.popover .menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* Comments */

.comment-list {
	list-style: none;
	padding: 15px 0 0 0;
	margin: 0;
	border-top: 1px solid #ccc;
}

.comment {
	clear: both;
	min-height: 47px;
	padding: 4px;
}

.comment .gravatar {
	width: 40px;
	height: 40px;
	margin: 0 4px 4px 0;
	float: left;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.comment .author {
	font-style: italic;
	font-size: 11px;
	margin: 0;
}

.comment.unread {
	border-left: 5px solid #428bca;
}

.table-users{
	margin-bottom: 0px;
}

.table-users tbody > tr > td{
	vertical-align: middle;
}

.overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	transition: background-color 300ms;
}

.overlay > .popup{
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	top:50px;
	transition: top 300ms;
}

.overlay.hidden {
	display: block !important;
	visibility: visible !important;
	background-color: rgba(0, 0, 0, 0.0);
}

.overlay.hidden > .popup{
	top: -100%;
}

#thanks-page{
	background-color: #eeeeee;
}