.login-panel,
.user-panel {
	max-width: 400px;
	margin: 100px auto;
}


#label-panel {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 200px;
}

#issue-list-panel,
#issue-details-panel,
#new-issue-panel {
	position: absolute;
	top: 12px;
	right: 12px;
	left: 224px;
	bottom: 12px;
}

.issue-tracker {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
}

.issue-list {
	padding: 0;
}

.issue-list .issue-completed {
	text-decoration: line-through;
}

.user-not-logged-in .requires-login {
	display: none;
}

.issue-completed .panel-heading {
	background: green;
}

.issue-completed .close-issue-button {
	display: none;
}

.reopen-issue-button {
	display: none;	
}

.issue-completed .reopen-issue-button {
	display: inline-block;
}


.issue .edit-issue {
	display: none;
}

.issue.editable .edit-issue {
	display: block;
}

.issue.editable .read-issue {
	display: none;
}
