<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<title>{% block title %}Issues{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/issues.css') }}">
	<script src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	{% endblock %}
</head>
<body class="{{page_attributes}}">
	<div class="main-nav">
		<a href="/" class="glyph issue-tracker-link">✔</a>
		<a href="/users" class="glyph manage-users-link" rel="external">Users</a>
		<a href="http://www.svcover.nl" rel="external" class="glyph website-link">Cover</a>
		{% if user %}
		<div class="profile">
			<div class="dropup">
				<span class="user-name dropdown-toggle" data-toggle="dropdown">
					<img src="{{user['gravatar']}}" class="gravatar">
					{{user.name}}
				</span>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					<li><a href="{{ url_for('change_password') }}" rel="external">Change password</a></li>
					<li class="divider"></li>
					<li><a href="{{ url_for('logout') }}" rel="external">Sign out</a></li>
				</ul>
			</div>
		</div>
		{% else %}
		<div class="profile">
			<a href="{{ url_for('login') }}" rel="popup">
				<span class="user-name">
					<img src="{{ '' | gravatar }}" class="gravatar">
					Sign in
				</span>
			</a>
		</div>
		{% endif %}
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>