<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Issues</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<script src="/static/js/jquery-2.0.3.js"></script>
	<script src="/static/js/underscore.js"></script>
	<script src="/static/js/backbone.js"></script>
	<script src="/static/js/bootstrap.js"></script>
</head>
<body>
	<div id="issue-tracker">
		<div id="issue-list"></div>

		<div id="issue-details"></div>

	</div>

	<!--
	<div id="login-popup" class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Login</h3>
		</div>
		<form method="post" action="/session/create">
			<fieldset>
				<div class="form-group">
					<label for="login-email">Email address</label>
					<input type="email" id="login-email" name="email">
				</div>
				<div class="form-group">
					<label for="login-password">Password</label>
					<input type="password" id="login-password" name="password">
				</div>
				<button type="submit" class="btn btn-default">Login</button>
			</fieldset>
		</form>
	</div>
	-->

	<script id="tpl-issue-list-item" type="text/x-template">
		<li>
			<a href="/issues/<%= id %>"><%= title %></a>
		</li>
	</script>

	<script id="tpl-issue-details" type="text/x-template">
		<div id="issue-details">
			<dl>
				<dt>Title:</dt>
				<dd><%= title %></dd>
			</dl>
			<div class="comments">
				<p class="loading-message">Loading comments…</p>
			</div>
		</div>
	</script>

	<script id="tpl-comment-list" type="text/x-template">
		<div class="comments">
			<ol class="comment-list"></ol>
			<form method="post">
				<fieldset>
					<div class="form-group">
						<label for="comment-text">Comment on issue number <%= issue.id %></label>
						<textarea id="comment-text" name="text" class="form-control"></textarea>
					</div>
					<button type="submit" class="btn btn-default">Post comment</button>
				</fieldset>
			</form>
		</div>
	</script>

	<script id="tpl-comment-list-item" type="text/x-template">
		<li class="comment">
			<div class="comment-text"><%= text %></div>
			<address class="author">by <span class="author"><%= user.name %></span></address>
		</li>
	</script>

	<script src="/static/js/issues.js"></script>
	<script>
		{% autoescape false %}
		var app = init({{ jsonify(issues) }});
		{% endautoescape %}
	</script>
</body>
</html>