{% extends "base.html" %}
{% block content %}
	<div class="user-list-panel panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Issues New User</h3>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email Address</th>
					<th>Admin</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
					<td>
						<span class="user-name dropdown-toggle" data-toggle="dropdown">{{ user.admin }}<span class="caret"></span></span>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			                <li><a href="{{url_for('change_password', user_id=user.id)}}">Change</a></li>
			            </ul>
					</td>
					<td>
						<a href="{{url_for('change_password', user_id=user.id)}}" class="btn btn-xsmall">Change password</a>
<!-- 						<a href="{{url_for('change_password', user_id=user.id)}}" class="btn">Make Admin</a> -->
						<a href="{{url_for('change_password', user_id=user.id)}}" class="btn btn-xsmall">Remove</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}